[submodule "lib/raylib-d"]
	path = lib/raylib-d
	url = https://github.com/onroundit/raylib-d.git
[submodule "lib/druntime"]
	path = lib/druntime
	url = https://github.com/skoppe/druntime.git
	branch = wasm
[submodule "lib/gargula"]
	path = lib/gargula
	url = git@github.com:gilzoide/gargula.git
